.redText{
    color: red;
}
div {
    margin: 10px 0px;
}

#myElement{
    color: blue;
}

#div1{
    background-color: green;
    : white
}

#div2{
    background-color: darkorange;
    text-decoration: white;
}